.home-container {
  height: 100vh;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-layout .site-layout-background {
  background: #fff;
}

.layout-filter-container {
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
  margin: 1rem;
}

.layout-filter-container .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.layout-filter-container .mb2 {
  margin-bottom: 1rem;
}

.layout-filter-container.center {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.time {
  color: #fff;
  padding: 0 16px;
  /* margin-top: 52vh; */
  position: absolute;
  bottom: 40px;
  background-color: #000;
  width: 100%;
  padding: 8px;
}

.ant-layout-sider-children {
  padding-bottom: 32px !important;
}

.home-mobile-container {
  padding: 0px;
}
.home-mobile-container.full {
  height: 100vh;
}

.home-mobile-context {
  padding: 0px;
}
.home-mobile-infobox {
  padding: 16px;
  padding-bottom: 0;
}
.home-mobile-infobox.bottom {
  top: -1rem;
  left: 0;
  position: absolute;
  z-index: 10;
  width: 100%;
}
.home-mobile-infobox .option-box {
  width: 100%;
  margin-top: 12px;
}

.option-box p {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 8px;
}

.option-box .flexcenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
}

.flexcenter .segment {
  width: 60%;
}

.time-mobile-landscape {
  background-color: #eee;
  border-radius: 8rem;
  width: 195px;
  text-align: center;
  padding: 8px 1rem;
  color: #000;
  margin-bottom: 0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.flexcenter .menu {
  /* width: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: #eee;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8rem;
  width: 40px;
  height: 40px;
  border: 1px solid #eee;
}

.home-mobile-container .filter-box {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 16px;
  border: 1px solid #eee;
  margin: 0 16px;
}
.home-mobile-container .header-text {
  margin: 0 16px;
  margin-top: 1rem;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(88, 88, 88);
}

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.filter-box .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.home-mobile-container .refresh {
  margin: 16px;
  padding-bottom: 16px;
}

.home-mobile-container .landscape-duration {
  padding-bottom: -64px;
}

.time-mobile {
  background-color: #eee;
  padding: 4px 1rem;
  color: #000;
}
